@import "../../styles/_mixins.scss";

.uploadsuccess_container{
    @include margins;
    font-family: Arial;
    
}

.uploadsuccess_titletext{
    color: #DC1431;
    font-size: 24px;

}

.uploadsuccess_subtext{
    font-size: 16px;
}