@import "../../styles/_mixins.scss";

.uploadpage_container{
    @include margins;
    font-family: Arial;
}

.uploadpage_titletext{
    color: #DC1431;
    font-size: 24px;

}

.uploadpage_subtext{
    font-size: 16px;
    max-width: 80%;
}