.uploadfileform_inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 120px;
    padding-top: 2%;
    padding-bottom: 3%;
}

.uploadfileform_label{
    display: block;
    padding-bottom: 2%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}